# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.OpenWorldProj.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Uni work\Year 3\Advanced Technology\Open World Generation\OpenWorldProj\.idea\.idea.OpenWorldProj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
